<!-- Error view -->
<h2>Something went wrong</h2>
<p><%= error.message %></p>
<pre class="small"><%= (error.stack || '').split('\n').slice(0,5).join('\n') %></pre>
<a href="/" class="btn">Back Home</a>
