<section class="empty reveal">
  <h1>404</h1>
  <p class="muted">We couldn't find that page.</p>
  <div class="card-actions" style="justify-content:center">
    <a class="btn" href="/">Go Home</a>
    <a class="btn primary" href="/posts/new">Create a Post</a>
  </div>
</section>
